@font-face {
    font-family: Arial;
    src: url(fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: Arial bold;
    src: url(fonts/Roboto/Roboto-Bold.ttf);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; 
    padding: 10px 50px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    z-index: 1; 
}

.logo {
    width: 80px;
    height: 80px;
    margin-left: -35px;
    margin-top: -45px;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

li {
    padding: 0 20px;
}
.cart{
    height: 25px;
    width: 25px;
}
a {
    text-decoration: none;
    color: black; 
    font-weight: bold;
}
a:hover{
    color: red;
    font-weight: bolder;
}
button {
    background-color: red;
    color: white;
    border-radius: 37px;
    height: 30px;
    width: 90px;
    border: none;
}

.no2{
    height: 530px;
    width: 1150px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: #F5FAFF;
    margin-left: 80px;
}
.Parking{
    display: inline-block;
    text-align: left;
    margin-left: 45px;
    font-size: 35pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Simplified{
    display: inline-block;
    color: red; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35pt;
    margin-left: 15px;
    text-align: left;
}
button{
    cursor: pointer;
}
.p1{
    margin-top: -10px;
    font-size: 20px;
    margin-left: 45px;
    color: gray;
    font-family: "Arial";
}
input{
    margin-left: 45px; 
    height: 60px;
    width: 500px;
    border: 1px solid red;
}
select{
    height: 65px;
    width: 506px;
    margin-left: 45px;
    border: 1px solid red;
}
.in{
    width: 230px;
    height: 65px;
    margin-left: 45px;
}
.out{
    width: 230px;
    height: 65px;
    margin-left: 35px;
}
.park1{
    float: right;
    height: 300px;
    width: 400px;
    border-radius: 10px;
}
#booking{
    margin-left: 45px;
    color: red;
    font-size: 14pt;
    margin-top: 5px;
}
.date{
    height: 60px;
    width: 300px;
    margin-left: 45px;
    background-color: #D1D5DB;
    color: black;
    font-weight: bolder;
    font-size: 12pt;
}
.where{
    text-align: center;
    font-family: "Arial bold";
}
.car{
    text-align: center;
    color: gray;
    font-family: "Arial";
}
.cards{
    height: 300px;
    width: 350px;
    border: 1px solid black;
    margin-left: 45px;
    border-radius: 10px;
    display: inline-block;
}
.city-parking{
    height: 140px;
    width:350px ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.city{
    text-align: center;
    margin-top: 5px;
    color:rgba(0, 0, 0, 0.829);
    font-family: "Arial bold";
}
.find{
    height: 50px;
    width: 150px;
    background-color: #EF4444;
    margin-top: 10px;
    font-weight: bolder;
}
.cards1{
    height: 300px;
    width: 350px;
    border: 1px solid black;
    margin-left: 45px;
    border-radius: 10px;
    display: inline-block;
}
.cards2{
    height: 300px;
    width: 350px;
    border: 1px solid black;
    margin-left: 45px;
    border-radius: 10px;
    display: inline-block;
}
#no3{
    height: 530px;
    width: 1150px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: #E23744;
    margin-left: 80px;  
    /* border: 1px solid black;  */
}
h1.spot{
    text-align: center;
    color: white;
    margin-top: 10px;
    font-family: "Arial bold";
    
}
.p10{
    text-align: center;
    color: white;
    font-size: 16pt;
    font-family: "Arial";
}
.id-card{
    height: 330px;
    width: 350px;
    background-color: white;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 20px;
    display: inline-block;
}
.clock{
    height: 60px;
    width: 60px;
    margin-top: 60px;
}
.Fast{
    text-align: center;
    margin-top: 40px;
    font-family: "Arial bold";

}
.p11{
    font-size: 15pt;
    text-align: center;
    font-family: "Arial";
}
.id-card1{
    height: 330px;
    width: 350px;
    background-color: white;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 20px;
    display: inline-block;
}
.id-card2{
    height: 330px;
    width: 350px;
    background-color: white;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 20px;
    display: inline-block;
}
.airport{
    text-align: center;
    font-family: "Arial bold";
}
.days{
    height: 310px;
    width: 280px;
    border: 1px solid rgba(0, 0, 0, 0.445);
    border-radius: 10px;
    display: inline-block;
    margin-left: 20px;
}
.inn{
    text-align: center;
    font-size: 20pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.945);
}
.Hotel{
    text-align: center;
    font-size: 14pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    margin-top: -10px;
}
.booking{
    width: 150px;
    height: 40px;
    background-color: #EF4444;
    color: white;
    border: none;
    margin-left: 60px;
}
#anonymous{
    height: 220px;
    width: 500px;
    border: 1px solid rgba(0, 0, 0, 0.308);
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 8px;
}
#chattings{
    display: flex;
    width: 100%;
    align-items: center;
    height: 50px;
    margin-top: 30px;
    background-color: white;
}

.profileimage img{
    width: 50px;
    height: 60px;
}
.chat-title{
    margin-left: -15px;
    font-weight: bold;
    color: black;
}
.author-details{
    margin-left: 10px;
    padding: 10px;
}
.star{
    margin-top: 0px;
    margin-left: 10px;
                                                    
}
.stars-5{
    height: 30px;
    width: 90px;
    margin-left: -35px;
}
.lorem{
    text-align:justify;
    margin-left: 25px;
    margin-top: 20px;
}
.Read-More{
    color: red;
    margin-left: 25px;
    margin-top: -10px;
}
.Read-More:hover{
    text-decoration: underline;
    cursor: pointer;
}
.Intersting{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.xyz{
    color: gray;
    font-size: 20pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 40px;
    margin-top: 20px;
    display: inline;
}
.View1{
    color: red;
    text-decoration: underline;
    float: right;
    margin-right: 30px;
}
.card11{
    height: 400px;
    width: 350px;
    border: 1px solid rgba(0, 0, 0, 0.192);
    border-radius: 10px;
    margin-left: 50px;
    display: inline-block;
}
.mobile{
    height: 200px;
    width: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.car-parking{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16pt;
    margin-left: 10px;
    margin-top: 40px;
}
.abc{
    margin-left: 10px;
    font-size: 18px;
    margin-right: 10px;
    text-align: justify; 
}
.ReadMore{
    color: red;
    margin-left: 10px;
    margin-top: -15px;
}
#footer1{
    height: 450px;
    width: 1100px;
    border: 1px solid black;
    border-radius: 30px;
    margin-left: 60px;
    background-image: url(img/pro.webp);
    background-size: cover;
}
.partnership{
    text-align: center;
    color: white;
    margin-top: 130px;
    font-size: 38px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.c55{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
    font-family: "Arial";
    color: wheat;
}
.become{
    height: 60px;
    width: 200px;
    background-color: #EF4444;
    margin-top: 40px;
}
.footer2{
    height: 200px;
    width: 1100px;
    /* border: 1px solid black; */
    margin-left: 55px;
    background-color: #F5FAFF;
}
.Subscribe{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.update{
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -10px;
    text-align: center;
    font-size: 20px;
}
.footer2-inp{
    height: 50px;
    width: 250px;
    margin-left: 370px;
}
.bell{
    height: 54px;
    border-radius: 3px;
    margin-left: -5px;
    border: none;
}
#footer{
    height: 200px;
    width: 100vw;
    border-top: 2px solid red;
    margin-left: 50px;
}
table,td{
    margin-top: 10px;
}
th{
    /* border: 1px solid black; */
    width: 320px;
    margin-top: 50px;
    color: red; 
}
.mail{
    color: black;
    font-weight: normal;
}
.td1{
    text-align: center;
    margin-top: 20px;
}
i{
    margin-left: 10px;
}
.th12{
    color: red;
}